extends layouts/master

block content
	.content
		h1 Storyboard

		#container.container
			#camera.threed(style='transform:  translate3d(0px, -150px, 0px) rotateZ(180deg) rotateY(180deg)')
				iframe#pane1.threed.pane(width='1280', height='720', src='//www.youtube.com/embed/LJSFlMCTXE8?rel=0&autoplay=1', frameborder='0', allowfullscreen)
				- i = 8
				- while(i > 0)
						div(class='threed pane seats row#{ i }')
						- i--

				.threed.exit EXIT
				.threed.projector